body {
	background: url("Images/Stonehenge 3043.jpg") no-repeat;
	background-size: cover;
}
.place-Brad {
	max-width: 400px;
	width: 90%;
	padding: 0px;
	position: absolute;
	margin-top: 20px;
	margin-left: 20px;
	/*margin-right: auto;*/
	/*border: 10px solid black;*/
}
img.Brad {
	max-width: 400px;
	width: 90%;
}
